@import "tailwindcss";

:root {
  --left-bg: #395B50;
  --left-text:#92AFD7;
  --right-bg: #5A7684;
  --card-bg: #C5D1EB;
  --card-text:#1F2F16;
  --left-font: "Merriweather", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {

  --animate-rise: rise 0.5s ease-in-out forwards;
  --animate-sink: sink 0.5s ease-in-out forwards; 


  @keyframes rise {

    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px);
    }
  }

  @keyframes sink {
    from {
      transform: translateY(-10px);
    }

    to {
      transform: translateY(0px);
    }
  }

}